@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./assets/bg-home.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 140px;
    color: #0066cc;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

p {
    margin-top: 20px;
    font-size: 18px;
    animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}